/*  LAYOUT  */
html, body { width:360px; height:567px; font-size:14px; color:#333; } 
.page { background:#eee; width:100%; min-height:100%; position:relative; display:none; overflow-y:auto; }
#page-home { display:block; }
.cf:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}

/*  TYPOGROPHY  */
h1 { width:100%; left:0; top:20px; text-align:center; }

/*  ICONS  */
.iconholder { height:90px; width:74px; }
.icon { height:60px; width:60px; margin:7px; background:rgba(0,0,0,0.25); }
.iconholder p { color:#fff; margin: 0; line-height:11px; text-align:center; font-size:72%; }

/*  BUTTONS  */
.button { padding:5px; height:40px; background:#fff; color:#636363; width:200px; bottom:50px; left:50%; margin:10px 0 10px 80px; text-align:center; line-height:30px; border:1px solid #bbb; border-radius:5px; cursor:pointer;}
.holder { left:0; width:100%; text-align:center; }
.buttonholder2 { width:100%; clear:both; }
.buttonholder2 .button { width:150px; float:left; margin:10px 0 10px 20px; }

/*  LINK  */
.faxulink { cursor:hover; }

/*  HOLDERS  */
.movetobottom { width:100%; }

/*  FORMS  */
.inputholder { margin:10px 0; }
.inputholder p { margin:0 40px; }
.inputholder p label { width: 100%; display: block; text-align: left; padding:5px }
.inputholder p input { width: 100%; display: block; text-align: left; padding:5px; height:30px; border: 1px solid #bbb; }

.textareaholder { margin:10px 0; }
.textareaholder p { margin:0 40px; }
.textareaholder p label { width: 100%; display: block; text-align: left; padding:5px }
.textareaholder p textarea { width: 100%; display: block; text-align: left; padding:5px; min-height:100px; }